<!DOCTYPE html>
<html lang="en">
  <%- include('./templates/head.ejs') %>
  <body>
    <%- include('./templates/navbar.ejs') %>
    <div class="error">
      <h3><i class="fas fa-volume-mute error-icon-flexy"></i></h3>
      <h1 class="error__title">404 ERROR</h1>
      <h3 class="error__sub">Not Music</h3>
      <a href="/" class="btn btn-outline-secondary">Back</a>
    </div>
  </body>
</html>
