<!DOCTYPE html>
<html lang="en">
<%- include('./templates/head.ejs') %> 
<body class="bg-patter-flexy">
  <%- include('./templates/navbar.ejs') %>
  <figure class="container mt-flexy">
    <img src="./img/contact.svg" class="img-flexy" alt="contact flexy records">
  </figure> 
  <form class="container">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label label-flexy">Email address</label>
      <input type="email" class="form-control dark-bg-flexy" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label label-flexy">Message</label>
      <textarea class="form-control dark-bg-flexy" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button class="btn btn-outline-secondary">Send</button>
  </form>
</body>
</html>