<!DOCTYPE html>
<html lang="en">
  <%- include('./templates/head.ejs') %> 
<body class="bg-dev-flexy">
  <%- include('./templates/navbar.ejs') %>
  <div class="dev">
    <a href="/dev/data">
      <img class="img-profile-flexy" src="https://avatars.githubusercontent.com/u/77276651?v=4" alt="dev profile">
    </a>
  </div>

</body>
</html>