<!DOCTYPE html>
<html lang="en">
  <%- include('./templates/head.ejs') %>
  <body class="bg-dev-flexy">
    <%- include('./templates/navbar.ejs') %>
    <div class="dev">
      <a href="https://portfolio-lv.netlify.app/" target="blank">
        <img
          class="img-profile-flexy"
          src="https://avatars.githubusercontent.com/u/77276651?v=4"
          alt="dev profile"
        />
      </a>
      <div class="dev__info center-flexy">
        <p class="move-flexy"><i class="fas fa-arrow-up error-icon-flexy"></i></p>
        <h3>Laureano Vera</h3>
        <p>MEVN Developer</p>
        <div class="dev__link">
          <a
            class="med-icon-flexy"
            target="blank"
            href="https://github.com/LaureanoVera"
            ><i class="fab fa-github-square"></i
          ></a>
          <a
            class="med-icon-flexy"
            target="blank"
            href="https://www.linkedin.com/in/laureano-vera-320086204/"
            ><i class="fab fa-linkedin"></i
          ></a>
        </div>
      </div>
    </div>
  </body>
</html>
