<!DOCTYPE html>
<html lang="en">
  <%- include('./templates/head.ejs') %> 
  <body>
    <section class="home bg-patter-flexy">
      <%- include('./templates/navbar.ejs') %> 
      <article class="home__container">
        <img src="./img/logo.svg" alt="music studio logo" class="home__logo animation-loop-flexy">
      </article>
    </section>
  </body>
</html>
