<!DOCTYPE html>
<html lang="en">
  <%- include('./templates/head.ejs') %> 
  <body>
    <section class="home">
      <p>Sing your story</p>
      <article class="home__container">
        <img src="./img/logo.svg" alt="music studio logo" class="home__logo">
      </article>
    </section>
  </body>
</html>
