<!DOCTYPE html>
<html lang="en">
<%- include('./templates/head.ejs') %> 
<body class="bg-patter-flexy">
  <%- include('./templates/navbar.ejs') %> 
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner mt-flexy">
      <div class="carousel-item item-flexy">
        <img src="./img/production.svg" class="d-block w-100 img-flexy" alt="...">
        <div class="carousel-caption d-none d-md-block text-bg-flexy">
          <h5>Production</h5>
          <p>We create your videos or designs for your networks, shine as an artist.</p>
          <a href="" class="btn btn-dark">Buy</a>
        </div>
      </div>
      <div class="carousel-item item-flexy">
        <img src="./img/design.svg" class="d-block w-100 img-flexy" alt="...">
        <div class="carousel-caption d-none d-md-block text-bg-flexy">
          <h5>Design</h5>
          <p>Some representative placeholder content for the second slide.</p>
          <a href="" class="btn btn-dark">Buy</a>
        </div>
      </div>
      <div class="carousel-item item-flexy active">
        <img src="./img/marketing.svg" class="d-block w-100 img-flexy" alt="...">
        <div class="carousel-caption d-none d-md-block text-bg-flexy">
          <h5>Marketing</h5>
          <p>Grow as an artist with our service.</p>
          <a href="" class="btn btn-dark">Buy</a>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</body>
</html>