<!DOCTYPE html>
<html lang="en">
  <%- include('./templates/head.ejs') %>
  <body class="bg-patter-flexy">
    <%- include('./templates/navbar.ejs') %>
    <div class="container team__container">
      <div class="card card-hover-flexy">
        <img src="./img/team.svg" class="card-img-top" alt="flexy records team">
        <div class="card-body">
          <h5 class="card-title title-flexy"><i class="fas fa-meh-rolling-eyes"></i> Member</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-outline-secondary btn-big-flexy"><i class="fas fa-link"></i> Contact</a>
        </div>
      </div>
      <div class="card card-hover-flexy">
        <img src="./img/team.svg" class="card-img-top" alt="flexy records team">
        <div class="card-body">
          <h5 class="card-title title-flexy"><i class="fas fa-meh-rolling-eyes"></i> Member</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-outline-secondary btn-big-flexy"><i class="fas fa-link"></i> Contact</a>
        </div>
      </div>
      <div class="card card-hover-flexy">
        <img src="./img/team.svg" class="card-img-top" alt="flexy records team">
        <div class="card-body">
          <h5 class="card-title title-flexy"><i class="fas fa-meh-rolling-eyes"></i> Member</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-outline-secondary btn-big-flexy"><i class="fas fa-link"></i> Contact</a>
        </div>
      </div>
      <div class="card card-hover-flexy">
        <img src="./img/team.svg" class="card-img-top" alt="flexy records team">
        <div class="card-body">
          <h5 class="card-title title-flexy"><i class="fas fa-meh-rolling-eyes"></i> Member</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-outline-secondary btn-big-flexy"><i class="fas fa-link"></i> Contact</a>
        </div>
      </div>
    </div>
  </body>
</html>
