<nav class="navbar navbar-dark bg-dark navbar-flexy">
  <form class="container-fluid justify-content-start">
    <a href="/" class="btn btn-outline-secondary me-2 btn-hover-flexy" type="button">Home</a>
    <a href="/team" class="btn btn-sm btn-outline-secondary me-2 btn-hover-flexy" type="button">Team</a>
    <a href="/k4iv" class="btn btn-sm btn-outline-secondary btn-hover-flexy" type="button">Error 404</a>
  </form>
</nav>